*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  background: rgba(0, 0, 0, .75);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(1px);
  color: #fff;
  border-radius: 12px;
  padding: 40px 50px;
}
.wrapper h1{
  margin-top: 25px;
  font-size: 32px;
  font-family:'Segoe UI', sans-serif;
  font-weight: 550;
  text-align: left;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 10px;
  font-family:'Segoe UI', sans-serif;
  margin: 40px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 0px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  color: #ffffff9b;
  margin: -15px 0 70px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
  margin-top: 35px;

}

.wrapper .btn{
  width: 100%;
  height: 45px;
  font-family:'Segoe UI', sans-serif;
  background: #d60b0b;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: -30px;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
  font-family:'Segoe UI', sans-serif;
  margin-top: 35px;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}


/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 2em;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767px) {
  body {
    background-color: blue;
    color: yellow;
  }
}