*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.439), rgba(0, 0, 0, 0.435)), url("backgr.jpg");
  background-size: cover;
  /* background-position: center; */
  flex-direction: column;

}

/* netflix logo */
.banner{
  padding: 20px;
  width: 100vw;
}
a .netflix {
    width: 175px;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 25.069px;
    margin-top: 7px;
}

.wrapper{
  width: 420px;
  background: rgba(0, 0, 0, .75);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(1px);
  color: #fff;
  border-radius: 12px;
  padding: 40px 50px;
}
.wrapper h1{
  margin-top: 25px;
  font-size: 32px;
  font-family:'Segoe UI', sans-serif;
  font-weight: 550;
  text-align: left;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 10px;
  font-family:'Segoe UI', sans-serif;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  /* border: 2px solid rgba(255, 255, 255, .2); */
  border-radius: 0px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 50px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  color: #ffffff9b;
  margin: -15px 0 70px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
  margin-top: 35px;

}

.wrapper .btn{
  width: 100%;
  height: 45px;
  font-family:'Segoe UI', sans-serif;
  background: #d60b0b;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: -30px;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
  font-family:'Segoe UI', sans-serif;
  margin-top: 35px;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
}


/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #fff;
  text-align: center;
  font-size: 2em;
}



main{
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
  width: 100%;
  height: 17rem;
  background: #00000087;
  display: flex;
    align-items: center;
    justify-content: center;
}

.ftr-content {
	width: 70%;
	font-size: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.ftr-content a {
	color: #999;
  width: 25%;
  margin-bottom: 15px;
}

.ftr-content a:hover {
	text-decoration: underline;
}

.contact {
	/* margin-bottom: 30px; */
}

.contact a:hover {
	text-decoration: underline;
}

.ftr {
  width: 70%;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.select select {
	width: 110px;
    height: 50px;
    border: none;
    font-size: inherit;
    /* padding: 13px; */
    background: #000000;
    color: white;
    /* box-sizing: border-box; */
    text-align: center;
    border: .5px solid white;
    border-radius: 5px;
}
a {
	color: #fff;
	text-decoration: none;
}
#netflix-logo{
  display: none;
}

/* for small width device */

@media screen and (max-width:650px) {

  body{
    background: black;
    height: 100vh;
    justify-content: space-between;
  }
  #video-container{
    display: none;
  }
  main{
    display: flex;
    flex-direction: column;
    height: max-content;

  }
  #netflix-logo{
    display: unset;
    width: 100%;
  }

  #netflix-logo>img{
    width: 30%;
  }
  #content{
    width: 100%;
  }
  .wrapper{
    border: none;
    padding: 10px 20px;
    width: 100%;
  }
  .wrapper .input-box{
    border-radius: 5px;
  }
  #input1{
    margin: 30px 0 20px 0;
  }
  #input2{
    margin: 20px 0 35px 0;
  }
  .input-box input{
    border: none;
  }
  .wrapper h1{
    margin-top: unset;
  }
  footer{
    border-top: 2px solid #80808075;
  }
  .ftr-content{
    width: 100%;
    padding: 0 20px;
  }
  .ftr-content a{
    width: 50%;
  }

}
@media(max-width: 767px) {
  body {
   background-color: #333;
   background-image: none;
  }
  #netflix-logo{
    display: none;
  }
  footer{
    height: 10rem;
  }
  .banner img{
    width: 120px;
    position: fixed;
  }
  main{
    margin: 40px;
  }
}